
.container {
     width: 90%;
     margin: 0 auto;
     height: 100%;
}

.button-value {
  border: 2px solid #3b2b83;
  padding: 0.5em 1em;
  border-radius: 3em;
  background-color: transparent;
  color: #3b2b83;
  cursor: pointer;
  font-size: 1.1rem;
}
.active {
  background-color: #3b2b83;
  color: #ffffff;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  background-color: rgb(130, 179, 243);
  border-radius: 15px;
  height: 6rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.img_logo_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    height: 4em;
}

.img_logo_dashboard img{
    width: 100%;
    height: 100%;
}

.filtro{
  justify-content: center;
  /* max-width: 1660px; */
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.botao-noti{
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
}

.loginBTN {
  background-color: #332cda;
  color: white;
  padding: 9px 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.modalMeio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  flex-direction: row;
}

.tituloModal{
  color: #ffffff !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.imgModal img{
  height: 20vh;
}

.paragrafoModal {
  color: #ffffff !important;
  text-align: center;
  font-size: 1.5rem;
}

.paragrafoModal p {
    color: #ffffff !important;
    text-align: left;
}

.rodapeModal {
  color: white;
  font-size: 1.2rem;
}

.rodapeModal a {
  color: #3d2a84;
}

#modal-sem-cadastro{
  justify-content: center;
  align-items: center;
}

.div-modal-content {
  background-image: linear-gradient(#354b60, #3b68bc);
  border: 1px solid #888;
  padding: 15px 20px;
  width: 50%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.caixa-busca {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.caixa-busca input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 25px 0 0 25px;
  font-size: 1.1rem;
  outline: none;
}

.caixa-busca button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #3b2b83;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.caixa-busca button[type="submit"]:hover {
  background-color: #3b2b83;
}


.botao-noti img{
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.botao-circular {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botao-circular img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center bottom; 
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.notificao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.logo-dashboard{
  margin-left: 5px;
}

.pesquisa{
  margin-left: 15px;
}

.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-logout{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
}

.botao-login {
  color: #fff;
  padding: 0.6rem 1.5rem;
}

.header-menu-logged{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
  column-gap: 0.8rem;
}

.filter{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
}

.adverts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(130, 179, 243);
  padding: 1vw;
  gap: 1rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 20vw;
  font-size: 1.2rem;
}

.div-card {
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  row-gap: 1.2rem;
}

.imgCargo {
     display: flex;
     justify-content: center;
 }

 .imagem {
     height: 100%;
     width: 100%;
     object-fit: contain;
     box-sizing: border-box;
     border-radius: 10px;
 }

.cargo {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: nowrap;
  column-gap: 1rem;
}


.rating-color{
  color:#fbc634 !important;
}

.avaliacao{
    display: flex;
    justify-content: center;
}

.avaliacao h4{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

input[type="submit"]{
    width: 70%;
    height: 50px;
    border: 1px solid;
    background: #3b2b83;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    border: 1px solid;
    background: #3b2b83;
    border-radius: 25px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.cargoNome{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nome{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="submit"]:hover{
    border-color: #3b2b83;
    transition: .5s;
}

@media screen and (min-width: 2550px) and (max-width: 3000px) {
  .card {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2150px) and (max-width: 2550px) {
  .card {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2150px) {
    .card {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
    .card {
      width: 26vw;
      font-size: 1.8rem;
    }
}

@media screen and (min-width: 1250px) and (max-width: 1500px) {
    .card {
      width: 28vw;
      font-size: 1.7rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1250px) {
    .card {
      width: 40vw;
      font-size: 1.7rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    .card {
        width: 100vw;
        font-size: 2rem;
    }
}

@media screen and (max-device-width: 480px) {
    .card {
      width: 100vw;
      font-size: 1.7rem;
    }
}

