.bi-star-fill {
  color: #cecece;
}

.toast-message {
  color: #ffffff !important;
}

.note-editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.note-editing-area {
  flex-grow: 1;
}

b, strong {
     font-weight: bold !important;
 }