.container {
  width: 90%;
  margin: 0 auto;
  height: 100%
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  background-color: #82b3f3;
  border-radius: 15px;
  height: 6rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .2)
}

.img_logo_dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 4em
}

.img_logo_dashboard img {
  width: 100%;
  height: 100%
}

.botao-noti {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center
}

.botao-noti img {
  height: 100%;
  object-fit: cover;
  object-position: center bottom
}

.botao-circular {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px
}

.botao-circular img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center bottom
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em
}

.notificao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em
}

.logo-dashboard {
  margin-left: 5px
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center
}

.header-menu-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem
}

.botao-login {
  color: #fff;
  padding: .6rem 1.5rem
}

.header-menu-logged {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
  column-gap: .8rem
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  border: 1px solid;
  background: #3b2b83;
  border-radius: 25px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none
}

.button:hover {
  background: #e9f4fb;
  color: #3b2b83;
  border: 2px solid #3b2b83
}

.nome {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}








.form-user {
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 1.2rem;
}


.divPrincipal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1660px;
  margin: auto;
  gap: 50px;
}

.button-value {
  border: 2px solid #3b2b83;
  padding: 0.5em 1em;
  border-radius: 3em;
  background-color: transparent;
  color: #3b2b83;
  cursor: pointer;
}

.active {
  background-color: #3b2b83;
  color: #ffffff;
}


.dados-endereco {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.divPrincipal input,
textarea,
select {
  flex: 1;
  padding: 10px;
  border: 4px solid #c5c5c5;
  border-radius: 25px;
  font-size: 23px;
  outline: none;
  background-color: transparent;
  color: black;
  resize: none;
  overflow: hidden;
  margin-bottom: 7px;
}

.conta-input {
  width: 750px;
  height: 140px;
  line-height: 1.5;
}

.divPrincipal h3 {
  font-size: 32px;
  color: #3b2b83;
  margin-left: 10px;
}

.divPrincipal h4 {
  font-size: 25px;
}

.titulo-pag {
  
  font-size: 25px;
}

.dados-conta {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-right: 0px;
}

.dados-contato {

  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
}

.dados-usuario {
  display: flex;
}

.dados-usuario-foto {
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
}

.dados-usuario-foto img {
  border-radius: 50%;
}

#botaoFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0 auto;
  border: 2px solid #3b2b83;
  padding: 0.5em 1em;
  border-radius: 3em;
  background-color: #3b2b83;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}


.section {
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.dados-usuario-form {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.cabecalho-p1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#txtFotoPerfil {
  font-size: 25px;
  color: #000000;
  margin-left: 5px;
}

.sectionEnderecoP1 {
  display: flex;
  justify-content: space-between;
}

.SEP2 input {
  width: 270px;
  line-height: 1.5;
  margin-right: 10px;
}

.sectionEnderecoP2 {
  display: flex;
  justify-content: space-between;
}


.SEP4 select {
  width: 270px;
  line-height: 1.5;
  margin-right: 10px;
}

.footer {
  max-width: 1660px;
  margin: 0 auto;
  margin-top: 25px;
  position: left;
  text-align: right;
}

.botaoPe {
  width: 220px;
  height: 50px;
  border: 2px solid #3b2b83;
  border-radius: 3em;
  background-color: #3b2b83;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  width: 100%;
}

.botaoPe2 {
  width: 220px;
  height: 50px;
  border: 2px solid #ff0000;
  border-radius: 3em;
  background-color: #ff000000;
  color: #ff0000;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}








@media screen and (min-width: 2550px) and (max-width: 3000px) {
.card {
 font-size: 2rem;
}
}

@media screen and (min-width: 2150px) and (max-width: 2550px) {
.card {
 font-size: 2rem;
}
}

@media screen and (min-width: 1900px) and (max-width: 2150px) {
 .card {
     font-size: 1.8rem;
 }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
 .card {
   width: 26vw;
   font-size: 1.8rem;
 }
}

@media screen and (min-width: 1250px) and (max-width: 1500px) {
 .card {
   width: 28vw;
   font-size: 1.7rem;
 }
}

@media screen and (min-width: 901px) and (max-width: 1250px) {
 .card {
   width: 40vw;
   font-size: 1.7rem;
 }

 .filter {
   flex-direction: column;
   row-gap: 1.2rem;
   align-items: flex-start;  
 }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
 .card {
     width: 100vw;
     font-size: 2rem;
 }

 .filter {
   flex-direction: column;
   row-gap: 1.2rem;
   align-items: flex-start;  
 }
}

@media screen and (max-device-width: 480px) {
 .card {
   width: 100vw;
   font-size: 1.7rem;
 }

 .filter {
   flex-direction: column;
   row-gap: 1.2rem;
   align-items: flex-start;  
 }
}

