@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

body{
    background: #fffafa ;
    height: 100vh;
    overflow: auto;
}
